# general
.env
.DS_Store
.idea
.phplint-cache
dump.html
.vscode
.github
.editorconfig
.dockerignore
Dockerfile
docker-compose.yml
/.git

# phive
/tools
.phive

# composer
/vendor
composer.lock

# docs
/build
.phpdoc
/docs
/guide

# php-cs-fixer
.php_cs.cache
.php_cs
.php-cs-fixer.php
.php-cs-fixer.cache

# phpunit
phpunit.log
/.phpunit*
/coverage
