<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <file>tests/FunctionsTest.php</file>
            <file>tests/CollectionsTest.php</file>
            <directory suffix="Test.php">tests/Builders</directory>
            <directory suffix="Test.php">tests/Helpers</directory>
            <file>tests/Parts/Channel/InviteTest.php</file>
            <file>tests/ArchTest.php</file>
        </testsuite>
        <testsuite name="integration">
            <file>tests/Parts/Channel/ChannelTest.php</file>
            <file>tests/Parts/Channel/Message/EmbedMessageTest.php</file>
            <file>tests/Parts/Channel/Message/EmptyMessageTest.php</file>
            <file>tests/Parts/Channel/Message/MessageTest.php</file>
            <file>tests/Parts/Channel/Message/RemoveReactionTest.php</file>
            <file>tests/Parts/Embed/EmbedTest.php</file>
            <file>tests/DiscordTest.php</file>
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
