<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    defaultTestSuite="DiscordPHP"
    >
    <testsuites>
        <testsuite name="DiscordPHP">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_CHANNEL" value="776205696567083009" />
        <env name="TEST_CHANNEL_NAME" value="phpunit" />
    </php>
</phpunit>
